/*
 * Licensed to Marvelution under one or more contributor license 
 * agreements.  See the NOTICE file distributed with this work 
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* standard elements */
* {
	margin: 0;
	padding: 0;
}

a {
	color: #114070;
}

a:hover {
	color: #660000;
}

body {
	background: #EEE url(img/bg.gif);
	color: #444;
	font: normal 62.5% "Lucida Sans Unicode", sans-serif;
	margin: 0;
}

input {
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode", sans-serif;
}

p,cite,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}

ul ul {
	font-size: 1em;
	padding-bottom: 0;
}

h1 {
	font-size: 1.4em;
	margin-bottom: 4px;
}

h2 {
	font-size: 1.2em;
}

code {
	background: url(img/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #114070;
	color: #555;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode", serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
	overflow: auto;
	max-height: 300px;
}

cite {
	background: url(img/quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.3em "Lucida Sans Unicode", serif;
	padding-left: 28px;
}

h1,h2,h3 {
	color: #367EA6;
	padding-top: 6px;
}

/* misc */
.clearer {
	clear: both;
}

.deprecated {
	color: red;
}

.errortext {
	color: red;
	padding: 6px 12px;
	font-variant: small-caps;
}

/* structure */
.container {
	background: url(img/bgcontainer.gif) repeat-y;
	margin: 0 auto;
	padding-bottom: 6px;
	width: 960px;
}

.header {
	background-color: #114070;
}

/* title */
.title h1 {
	color: #FFF;
	font: normal 3em Verdana, sans-serif;
	height: 100px;
	line-height: 100px;
	margin-bottom: 8px;
	text-align: center;
}

/* main */
.main {
	clear: both;
	padding: 8px 18px;
}

/* main left */
.sidenav h1,.sidenav ul {
	padding-left: 12px;
}

.sidenav {
	background: #EEE;
	border: 1px solid #E5E5E5;
	float: left;
	width: 265px;
}

.sidenav h1 {
	color: #666;
	font-size: 1.2em;
	height: 20px;
	margin-top: 1.2em;
}

.sidenav ul {
	border-top: 1px solid #FAFAFA;
	background: url(img/bgul.gif) repeat-x;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.sidenav li {
	border: 1px solid #FAFAFA;
	border-top: none;
	list-style: none;
	margin: 0;
}

.sidenav li a {
	color: #777;
	display: block;
	font-size: 0.9em;
	padding: 3px 6px 3px 14px;
	text-decoration: none;
}

.sidenav li a:hover {
	color: #111;
}

/* content */
.content {
	float: right;
	width: 650px;
}

.content .item {
	padding: 6px 12px;
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 25px;
}

.content .descr {
	color: #333;
}

.content li {
	list-style: disc;
	margin-left: 18px;
}

.content table {
	background: url(img/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #114070;
	color: #555;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode", serif;
	margin-bottom: 12px;
	padding: 8px 10px;
}

.content table tr td {
	vertical-align: top;
	text-align: left;
	padding: 3px 3px 3px 3px;
}

.content table tr th {
	vertical-align: top;
	text-align: left;
	padding: 3px 3px 3px 3px;
}

.content h1 {
	color: #666;
	text-decoration: underline;
}

.content h1 a {
	color: #666;
}

.subcontent {
	background: url(img/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #39F;
	color: #555;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode", serif;
	margin-bottom: 12px;
	padding: 8px 10px;
}

.example /* footer */ 
.footer {
	background: #FFF;
	border: 1px solid #EEE;
	color: #666;
	font-size: 1.1em;
	margin: 0 auto;
	text-align: center;
	padding: 6px;
	width: 720px;
}

.footer a {
	color: #666;
	text-decoration: none;
}

.footer a:hover {
	color: #114070;
	text-decoration: underline;
}

/* widecontent (content with no sidenav) */
.widecontent {
	background: #FFF;
	border: 1px solid #EEE;
	color: #666;
	font-size: 1.1em;
	margin: 0 auto;
	padding: 6px;
	width: 720px;
}

.widecontent a {
	color: #114070;
	text-decoration: none;
}

.widecontent a:hover {
	color: #660000;
	text-decoration: underline;
}

.widecontent h1 {
	padding: 6px 12px;
	text-decoration: underline;
}

.widecontent form {
	padding: 6px 12px;
}
